
.comments__container {
    display: flex;
    padding: 0px;
    margin: 72px 0px 0px;
    list-style: none;
    justify-content: space-between;
    font-family: Inter;
    font-size: 14px;
    line-height: 23px;
    font-weight: 300;
}


@media screen and (min-width: 1024px) and (max-width: 1280px) {
    .comments__container {
        margin: 66px 0px 0px;
    }
}
