
.additional__item {
    position: relative;
    width: 284px;
    height: 330px;
    border-radius: 5px;
    overflow: hidden;
    background: #000000;
}

.additional__item__heading {
    position: absolute;  
    z-index: 1; 
    font-family: Inter;
    font-size: 27px;
    line-height: 29px;
    top: 30px;
    left: 18px;
    right: 18px;
    margin: 0px;
    font-weight: 900;
}

.additional__item__text {
    font-family: Inter;
    font-size: 14px;
    line-height: 20px;
    position: absolute;   
    z-index: 1;
    margin: 0px;
    bottom: 30px;
    left: 18px;
    right: 18px;   
    font-weight: 400;
}

.additional__item-bg {
    position: absolute;
    width: 100%;
    border-radius: 5px;
    opacity: 0.5;
}


@media screen and (min-width: 1024px) and (max-width: 1280px) {
    .additional__item {
        width: 240px;
        height: 280px;
    }

    .additional__item__heading {
        font-size: 24px;
        line-height: 26px;
    }

    .additional__item__text {
        bottom: 16px;
        left: 16px;
        right: 14px;   
        font-weight: 400;
    }
}


@media screen and (min-width: 768px) and (max-width: 1024px) {
    .additional__item {
        width: 284px;
        height: 330px;
    }     
}


@media screen and (min-width: 320px) and (max-width: 767px) {
    .additional__item {
        margin: 0px auto 24px;
    }
    .additional__item:last-of-type{
        margin-bottom: 0px;
    }
}